Repository ARM-software/Tool-Solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

reuse-annotate-current-year-python-yaml-shell-files:
  name: REUSE Annotate (Python add current year, merge)
  language: python
  additional_dependencies:
  - reuse==6.2.0
  entry: reuse annotate
  args:
  - --merge-copyrights
  - --license
  - Apache-2.0
  - --copyright
  - Arm Limited and affiliates.
  - --copyright-prefix
  - spdx-string
  - --style
  - python
  ...

reuse-annotate-current-year-json-and-md:
  name: REUSE Annotate (JSON/Markdown/welcome.txt sidecar fallback add current year, merge)
  language: python
  additional_dependencies:
  - reuse==6.2.0
  entry: reuse annotate
  args:
  - --merge-copyrights
  - --license
  - Apache-2.0
  - --copyright
  - Arm Limited and affiliates.
  - --copyright-prefix
  - spdx-string
  ...

Bump commit hashes for r26.02 and list .ccache/ in .gitignore
  ML-Frameworks/pytorch-aarch64/.gitignore
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/Dockerfile
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
  ML-Frameworks/pytorch-aarch64/get-source.sh
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Remove explicit torchao layout usage
  ML-Frameworks/pytorch-aarch64/examples/answer_questions.py
  ML-Frameworks/pytorch-aarch64/examples/llama_vision_instruct.py
  ML-Frameworks/pytorch-aarch64/examples/quantized_linear.py
  ML-Frameworks/pytorch-aarch64/examples/transformers_llm_text_gen.py
Due: reuse-annotate-current-year-python-yaml-shell-files

Fix the changed section in pytorch changelog
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
Due: reuse-annotate-current-year-json-and-md

Tidy up CHANGELOGs and add a trailing newline.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Tidy up pytorch-aarch64 build scripts.
  .github/workflows/pytorch.yml
  ML-Frameworks/pytorch-aarch64/build-torch-ao-wheel.sh
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
  ML-Frameworks/pytorch-aarch64/build.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Update USERNAME in PyTorch dockerize.sh.
  ML-Frameworks/pytorch-aarch64/dockerize.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Add 'uv' usage to Dockerfile to speed up builds.
  ML-Frameworks/pytorch-aarch64/Dockerfile
Due: reuse-annotate-current-year-python-yaml-shell-files

Remove mslk from pytorch/third_party.
  ML-Frameworks/pytorch-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Add dummy credentials to apply-github-patch usage.
  ML-Frameworks/utils/git-utils.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Updates CHANGELOGs for 26.02 release
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
Due: reuse-annotate-current-year-json-and-md

Fix uv version to 0.9.29.
  ML-Frameworks/pytorch-aarch64/Dockerfile
Due: reuse-annotate-current-year-python-yaml-shell-files

Patch build for internal CI.
  ML-Frameworks/pytorch-aarch64/Dockerfile
  ML-Frameworks/pytorch-aarch64/dockerize.sh
  ML-Frameworks/utils/git-utils.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Update Python packages to handle CVEs.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/Dockerfile
  ML-Frameworks/pytorch-aarch64/requirements.txt
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/Dockerfile
  ML-Frameworks/tensorflow-aarch64/requirements.txt
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Remove USERNAME arg from PyTorch Docker build.
  ML-Frameworks/pytorch-aarch64/Dockerfile
  ML-Frameworks/pytorch-aarch64/dockerize.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Move to slim Debian image for TensorFlow build.
  ML-Frameworks/tensorflow-aarch64/Dockerfile
  ML-Frameworks/tensorflow-aarch64/dockerize.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Remove unnecessary code from pytorch Dockerfile.
  ML-Frameworks/pytorch-aarch64/Dockerfile
Due: reuse-annotate-current-year-python-yaml-shell-files

Patch torch wheel naming.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
  ML-Frameworks/pytorch-aarch64/get-source.sh
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Refactor dep versions into versions.sh.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/Dockerfile
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
  ML-Frameworks/pytorch-aarch64/dockerize.sh
  ML-Frameworks/pytorch-aarch64/get-source.sh
  ML-Frameworks/pytorch-aarch64/versions.sh
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Add information on updating PyTorch dep. versions.
  ML-Frameworks/pytorch-aarch64/.agents/skills/bump-sources/SKILL.md
  ML-Frameworks/pytorch-aarch64/README.md
  ML-Frameworks/pytorch-aarch64/bump-sources.sh
  ML-Frameworks/pytorch-aarch64/versions.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Move to slim Debian image for TensorFlow build.
  ML-Frameworks/tensorflow-aarch64/Dockerfile
  ML-Frameworks/tensorflow-aarch64/bash_profile
  ML-Frameworks/tensorflow-aarch64/dockerize.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Simplify pytorch Dockerfile.
  ML-Frameworks/pytorch-aarch64/Dockerfile
  ML-Frameworks/tensorflow-aarch64/Dockerfile
Due: reuse-annotate-current-year-python-yaml-shell-files

bump TensorFlow hashes
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

bump PyTorch hashes
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/README.md
  ML-Frameworks/pytorch-aarch64/get-source.sh
  ML-Frameworks/pytorch-aarch64/versions.sh
  ML-Frameworks/utils/git-utils.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Declare pip deprecation for torch build.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/bash_profile
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Remove third_party/llvm-openmp from torch build.
  ML-Frameworks/pytorch-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

rollback OpenBLAS version to fix failing pytorch test
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/versions.sh
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Update actions used in tensorflow.yml workflow.
  .github/workflows/tensorflow.yml
Due: reuse-annotate-current-year-python-yaml-shell-files

Refactor PyTorch workflow and add c6g testing.
  .github/workflows/_pytorch-single-platform.yml
  .github/workflows/pytorch.yml
Due: reuse-annotate-current-year-python-yaml-shell-files

Update release date in CHANGELOGs.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
Due: reuse-annotate-current-year-json-and-md

Update pillow 11.1.0 -> 12.1.1.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/requirements.txt
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/requirements.txt
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

dependabot: update requirements.txt.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/requirements.txt
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/requirements.txt
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Refactor common urllib usage into utils/common.py.
  ML-Frameworks/pytorch-aarch64/examples/executor/model.py
  ML-Frameworks/pytorch-aarch64/examples/ssd_resnet34.py
  ML-Frameworks/pytorch-aarch64/examples/utils/common.py
  ML-Frameworks/pytorch-aarch64/examples/utils/image.py
  ML-Frameworks/pytorch-aarch64/examples/utils/label.py
  ML-Frameworks/pytorch-aarch64/examples/utils/nlp.py
Due: reuse-annotate-current-year-python-yaml-shell-files

Use Docker layer caching for PyTorch builder image
  .github/workflows/_pytorch-single-platform.yml
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
  ML-Frameworks/pytorch-aarch64/build.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Bump versions and remove redundant patches.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
  ML-Frameworks/pytorch-aarch64/build.sh
  ML-Frameworks/pytorch-aarch64/get-source.sh
  ML-Frameworks/pytorch-aarch64/versions.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Freeze pytest<9 to address failing PyTorch unit tests.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/requirements.txt
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Add --no-patches flag option to get-source.sh.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/README.md
  ML-Frameworks/pytorch-aarch64/build.sh
  ML-Frameworks/pytorch-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Wipe pytorch-aarch64/scripts directory.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/scripts/build-mlcommons.sh
  ML-Frameworks/pytorch-aarch64/scripts/download-dataset.sh
  ML-Frameworks/pytorch-aarch64/scripts/download-model.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Disable 'sudo' commands in PyTorch build scripts.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/get-source.sh
  ML-Frameworks/utils/git-utils.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Bump sources + update changelogs for 26.06 release.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/Dockerfile
  ML-Frameworks/pytorch-aarch64/get-source.sh
  ML-Frameworks/pytorch-aarch64/versions.sh
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Switch to 3.12-trixie base image.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/Dockerfile
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/Dockerfile
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Path conditions:
  reuse-annotate-current-year-python-yaml-shell-files: any of: (\.gitignore|\.dockerignore|requirements\.txt|bash_profile|Dockerfile|\.(py|yml|yaml|sh|bash))$
  reuse-annotate-current-year-json-and-md: any of: (welcome\.txt|\.(json|md))$
