Repository ARM-software/Tool-Solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and affiliates.
#
# SPDX-License-Identifier: Apache-2.0

fail_fast: false

repos:
  - repo: local
    hooks:
      # Python/YAML/shell: use hash comments (no --multi-line)
      - id: reuse-annotate-current-year-python-yaml-shell-files
        name: REUSE Annotate (Python add current year, merge)
        language: python
        additional_dependencies: [reuse==6.2.0]
        entry: reuse annotate
        args:
          - --merge-copyrights
          - --license
          - Apache-2.0
          - --copyright
          - Arm Limited and affiliates.
          - --copyright-prefix
          - spdx-string
          - --style
          - python
        pass_filenames: true
        files: '(\.gitignore|\.dockerignore|requirements\.txt|bash_profile|Dockerfile|\.(py|yml|yaml|sh|bash))$'
        stages: [ pre-commit ]

      # JSON/Markdown/welcome.txt: use sidecar .license files
      - id: reuse-annotate-current-year-json-and-md
        name: REUSE Annotate (JSON/Markdown/welcome.txt sidecar fallback add current year, merge)
        language: python
        additional_dependencies: [reuse==6.2.0]
        entry: reuse annotate
        args:
          - --merge-copyrights
          - --license
          - Apache-2.0
          - --copyright
          - Arm Limited and affiliates.
          - --copyright-prefix
          - spdx-string
          - --fallback-dot-license
        pass_filenames: true
        files: '(welcome\.txt|\.(json|md))$'
        stages: [ pre-commit ]

  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.2.0
    hooks:
      - id: reuse-lint-file
        stages: [ pre-commit ]
        name: "REUSE Compliant Copyright and License"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        stages: [ pre-commit ]

Remove ACL from oneDNN/PyTorch build.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Add oneDNN patch to fix torch.Linear regression
  ML-Frameworks/pytorch-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Add PyTorch patch to restore bmm heuristic behaviour
  ML-Frameworks/pytorch-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Add updated pre-commit config.
  .pre-commit-config.yaml
Due: reuse-annotate-current-year-python-yaml-shell-files

Update permission bits of classify_image.py.
  ML-Frameworks/tensorflow-aarch64/examples/classify_image.py
Due: reuse-annotate-current-year-python-yaml-shell-files

Add trailing whitespace lines.
  ML-Frameworks/pytorch-aarch64/.agents/skills/bump-sources/SKILL.md
  ML-Frameworks/pytorch-aarch64/examples/gen_ai_utils/quant_configs/aarch64_cpu_groupwise.json
  ML-Frameworks/pytorch-aarch64/examples/gen_ai_utils/quant_configs/aarch64_cpu_groupwise.json.license
  ML-Frameworks/pytorch-aarch64/examples/openimages-mlperf.json
  ML-Frameworks/pytorch-aarch64/examples/openimages-mlperf.json.license
  ML-Frameworks/pytorch-aarch64/examples/quantized_linear.py
  ML-Frameworks/tensorflow-aarch64/.gitignore
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Add 'ruff check' to pre-commit hooks and hygiene CI.
  .github/workflows/hygiene.yml
  .pre-commit-config.yaml
Due: reuse-annotate-current-year-python-yaml-shell-files

Remove trailing whitespace from CHANGELOG.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
Due: reuse-annotate-current-year-json-and-md

Address ruff violations in examples/.
  ML-Frameworks/pytorch-aarch64/examples/executor/model.py
  ML-Frameworks/pytorch-aarch64/examples/transformers_llm_text_gen.py
  ML-Frameworks/pytorch-aarch64/examples/utils/image.py
  ML-Frameworks/pytorch-aarch64/examples/utils/vision_parser.py
  ML-Frameworks/tensorflow-aarch64/examples/executor/model.py
  ML-Frameworks/tensorflow-aarch64/examples/utils/vision_parser.py
Due: reuse-annotate-current-year-python-yaml-shell-files

Tweak comments in .pre-commit-config.yaml.
  .pre-commit-config.yaml
Due: reuse-annotate-current-year-python-yaml-shell-files

Disable executable bit from classify_image.py.
  ML-Frameworks/pytorch-aarch64/examples/classify_image.py
Due: reuse-annotate-current-year-python-yaml-shell-files

Tweak hygiene.yml.
  .github/workflows/hygiene.yml
Due: reuse-annotate-current-year-python-yaml-shell-files

Avoid creating a pip cache dir in Dockerfiles.
  ML-Frameworks/pytorch-aarch64/Dockerfile
  ML-Frameworks/tensorflow-aarch64/Dockerfile
Due: reuse-annotate-current-year-python-yaml-shell-files

Remove unused files.
  ML-Frameworks/pytorch-aarch64/examples/gen_ai_utils/quant_configs/aarch64_cpu_channelwise.json
  ML-Frameworks/pytorch-aarch64/examples/gen_ai_utils/quant_configs/aarch64_cpu_channelwise.json.license
  ML-Frameworks/pytorch-aarch64/examples/gen_ai_utils/quant_configs/aarch64_cpu_groupwise.json
  ML-Frameworks/pytorch-aarch64/examples/gen_ai_utils/quant_configs/aarch64_cpu_groupwise.json.license
  ML-Frameworks/pytorch-aarch64/examples/openimages-mlperf.json
  ML-Frameworks/pytorch-aarch64/examples/openimages-mlperf.json.license
Due: reuse-annotate-current-year-json-and-md

Add hygiene workflow.
  .github/workflows/hygiene.yml
Due: reuse-annotate-current-year-python-yaml-shell-files

Remove remaining references to ACL.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/README.md
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
  ML-Frameworks/pytorch-aarch64/examples/README.md
  ML-Frameworks/pytorch-aarch64/versions.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Add apply-arm-gitlab-patch to git-utils.sh.
  ML-Frameworks/utils/git-utils.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Bump sources + update changelogs for 26.08 release.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/get-source.sh
  ML-Frameworks/pytorch-aarch64/versions.sh
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Specify tests explicitly in test-examples.sh.
  .github/workflows/_pytorch-single-platform.yml
  .github/workflows/check-pytorch-example-commands.yml
  .github/workflows/check-tensorflow-example-commands.yml
  .github/workflows/tensorflow.yml
  .github/workflows/woke-review.yml
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/examples/run-unit-tests.sh
  ML-Frameworks/tensorflow-aarch64/examples/run-unit-tests.sh
  ML-Frameworks/tensorflow-aarch64/examples/test-examples.sh
  ML-Frameworks/tensorflow-aarch64/examples/test_examples.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Add fix to failing PyTorch example
  ML-Frameworks/pytorch-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Bump pillow and transformers and their dependencies.
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/requirements.txt
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Patch answer_questions.py after transformers bump.
  ML-Frameworks/pytorch-aarch64/examples/answer_questions.py
Due: reuse-annotate-current-year-python-yaml-shell-files

Remove trailing whitespace from CHANGELOG.
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
Due: reuse-annotate-current-year-json-and-md

Simplify use of pre-commit hooks in hygiene CI.
  .github/workflows/hygiene.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  ML-Frameworks/pytorch-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

fix: install ccache inside the builder image
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
Due: reuse-annotate-current-year-python-yaml-shell-files

Bump sources + update CHANGELOGs for 26.10 release
  ML-Frameworks/pytorch-aarch64/CHANGELOG.md
  ML-Frameworks/pytorch-aarch64/get-source.sh
  ML-Frameworks/pytorch-aarch64/requirements.txt
  ML-Frameworks/pytorch-aarch64/versions.sh
  ML-Frameworks/tensorflow-aarch64/CHANGELOG.md
  ML-Frameworks/tensorflow-aarch64/get-source.sh
Due: reuse-annotate-current-year-python-yaml-shell-files, reuse-annotate-current-year-json-and-md

Update scripts to reflect the changes in upstream PyTorch’s packaging metadata and build backend:
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
  ML-Frameworks/pytorch-aarch64/build.sh
  ML-Frameworks/pytorch-aarch64/prepare-wheel-metadata.py
Due: reuse-annotate-current-year-python-yaml-shell-files

fix: trim trailing whitespace from build-wheel.sh
  ML-Frameworks/pytorch-aarch64/build-wheel.sh
Due: reuse-annotate-current-year-python-yaml-shell-files
